<% content_for(:forms) do %>
  <h2 class="text-center"><%= title %></h2>

  <%= simple_form_for(@text) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <% @extnames = @extensions.map { |e| ".#{e.first}" } %>
      <% if @type == 'file' %>
        <%= f.input :file,
        required: true,
        hint: "accepted extensions: #{@extnames.join(', ')}",
        input_html: {
          accept: @extnames.join(',')
        } %>
      <% else %>
        <%= f.input :body,
        input_html: { rows: 8 },
        required: true %>
        <%= f.input :filetype,
        required: true,
        collection: @text_extensions,
        selected: @text.filetype || 'md',
        label_method: :second,
        value_method: :first
        %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
      <%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
    </div>
  <% end %>
<% end %>
