<div class="card-columns">
  <% @texts.each do |text| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= text.title %>
          <% if text&.filetype&.present? %>
            <span class="badge border border-primary text-secondary">
              .<%= text.filetype %>
            </span>
          <% end %>
        </h5>
        <h6 class="card-subtitle text-muted mb-2"><%= text.user.name %></h6>
        <p class="card-text"><%= truncate(strip_tags(text.body), length: 40) %></p>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-2 pb-1" role="group">
            <% if text.file.attached? %>
              <%= link_to 'Download', text.file, class: 'btn btn-outline-primary'%>
            <% end %>
            <%= link_to 'Details', text, class: 'btn btn-outline-info'%>
          </div>
          <div class="btn-group mr-2 pb-1" role="group">
            <% if text.allowed_to_destroy?(current_user) %>
              <%= link_to 'Edit', edit_text_path(text),
                class: 'btn btn-outline-dark'%>
              <%= link_to 'Delete', texts_path(text),
                method: :delete, data: { confirm: 'Are you sure?' },
                class: 'btn btn-outline-danger'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 col-sm-8">
      <%= paginate @texts %>
    </div>
  </div>
</div>
<%#= text.title %>
<%#= text.body %>
<%#= text.user %>
<%#= link_to 'Show', text %>
<%#= link_to 'Edit', edit_text_path(text) %>
<%#= link_to 'Destroy', text, method: :delete, data: { confirm: 'Are you sure?' } %>
