<% provide(:title, 'List') %>

<div class="row justify-content-center">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"><%= @text.title %></h5>
        <h6 class="card-subtitle"><span class="text-muted">by</span> <%= @text.user.name %></h6>
      </div>
      <% if @body.present? %>
        <div class="card-body">
          <p class="card-text">
            <%= sanitize @body.html_safe,
            tags: @text.html_tags,
            attributes: @text.html_attributes %>
          </p>
        </div>
      <% end %>
      <div class="card-footer">

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group mr-2" role="group">
            <%= link_to 'Back', root_path, class: 'btn btn-outline-secondary' %>
          </div>
          <div class="btn-group mr-2" role="group">
            <%= link_to 'Download', url_for(@text.file), class: 'btn btn-outline-primary' %>
          </div>
          <div class="btn-group mr-2" role="group">
            <% if policy(@text).edit? %>
              <%= link_to 'Edit', edit_text_path(@text),
              class: 'btn btn-outline-dark'%>
            <% end %>
            <% if policy(@text).destroy? %>
              <%= link_to 'Delete', text_path(@text),
              method: :delete, class: 'btn btn-outline-danger'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
